openapi: 3.2.0
info:
  title: Updox IO API (Modeled) Address Book API
  version: '1.0'
  description: Modeled OpenAPI for the confirmed actions of the Updox "IO" API.
  contact:
    name: Updox Support
    url: https://www.updox.com/support/
  x-modeled: true
servers:
- url: https://updoxqa.com/api/io
  description: Updox IO Docs / QA reference host (production base is provisioned per partner)
tags:
- name: Address Book
  description: Practice-level contact/address-book actions.
paths:
  /AddressBookList:
    post:
      tags:
      - Address Book
      summary: List address book contacts
      description: Get all contacts associated with the supplied account.
      operationId: addressBookList
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountAuth'
      responses:
        '200':
          description: Contacts for the account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactList'
  /AddressBookSearch:
    post:
      tags:
      - Address Book
      summary: Search the practice address book
      description: Search the practice-level address book by criteria.
      operationId: addressBookSearch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AccountAuth'
              - type: object
                properties:
                  searchCriteria:
                    type: string
                    description: Name, phone, or other match criteria.
      responses:
        '200':
          description: Matching contacts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactList'
  /ContactCreate:
    post:
      tags:
      - Address Book
      summary: Create a contact
      description: Create a contact with the supplied information.
      operationId: contactCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AccountAuth'
              - $ref: '#/components/schemas/Contact'
      responses:
        '200':
          description: Contact created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
components:
  schemas:
    ApplicationAuth:
      type: object
      required:
      - applicationId
      - applicationPassword
      properties:
        applicationId:
          type: string
        applicationPassword:
          type: string
    Contact:
      type: object
      properties:
        contactId:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        organization:
          type: string
        phone:
          type: string
        fax:
          type: string
        email:
          type: string
        address:
          type: string
    ContactList:
      type: object
      properties:
        contacts:
          type: array
          items:
            $ref: '#/components/schemas/Contact'
    AccountAuth:
      allOf:
      - $ref: '#/components/schemas/ApplicationAuth'
      - type: object
        required:
        - accountId
        properties:
          accountId:
            type: string
